<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estiloCad.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Internet Banking DEV</title>
</head>
<body>
    <script type="text/javascript">
        function mascara(telefone){ 
            if(telefone.value.length == 0)
                telefone.value = '(' + telefone.value; 
            if(telefone.value.length == 3)
                telefone.value = telefone.value + ') '; 
 
            if(telefone.value.length == 10)
                telefone.value = telefone.value + '-'; 
  
}
    </script>
    <div class="container">
        <h1>CADATRASE-SE</h1>
        <div class="formulario">
            <form action="/AddOK" method="post">
                <div class="usuario">
                    <label for="usuario">Usuário:<b>*</b></label><br>
                    <input type="text" name="usuario" >
                </div>
                <div class="email">
                    <label for="email">Email: <b>*</b></label><br>
                    <input type="email" name="email" placeholder="user@user.com">
                </div>
                <div class="confirmEmail">
                    <label for="email">Confime o email: <b>*</b></label>
                    <input type="email" placeholder="user@user.com">
                </div>
                <div class="telefone">
                    <label for="telefone">Telefone: <b>*</b></label>
                    <input type="text" name="telefone"  placeholder="(xx) xxxxx-xxxx" onkeypress="mascara(this)" maxlength="15">
                </div>
                <div class="senha">
                    <label for="senha">Senha: <b>*</b></label><br>
                    <input type="password" name="password">
                </div>
                <div class="confirmSenha">
                    <label for="Senha">Confime sua senha: <b>*</b></label><br>
                    <input type="password" >
                </div>
                <div class="botao">
                    <button>Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>