<!DOCTYPE html>
<html lang="en">
<head>
    <script src=""></script>
    <link rel="stylesheet" type="text/css" href="css/estiloHome.css">
    <meta charset="UTF-8">
    <title>Internet Banking DEV</title>
</head>
<body>
    <div class="body">
        <div class="cabecalho">
            
            <div class="cabecalhoText">
                <h1 class="cabecalhoH1">Bem vindo ao Banco DEV</h1>
            </div>
        
        </div>
        
        <div class="corpocentral1">
           
            <div class="nomeCentral"> 
                <h1>Não possui conta?</h1>
            </div>
            <hr>
            <div class="cadastroLink">
                <a href="cad2">Cadastre-se</a>
            </div>
        
        </div>
        
        <div class="corpocentral2"> 
            <div class="formulario">
                <h1 class="acessarH1">Acessar</h1>
                    <form action="/views/AdminPage.html" method="post">
                        <div class="label-float">
                            <input type="text" name="usuario" id="usuario" required>
                            <label for="usuario">Usuário/email</label>
                        </div>
                        
                        <div class="label-float">
                            <input type="password" name="password" id="senha" required>
                            <label for="senha">Senha</label>
                        </div>
                        
                        <div class="button">
                            <button>Entrar</button>
                        </div>
                    </form>
            </div>
        </div>
        <div class="rodape">
            <h1 class="rodapeH1">O banco de todos os desevolvedores ;)</h1>
        </div>
    </div>
</body>
</html>